<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="stock.css">
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
    
<script src="stock_A.controller.js"></script>
<script src="stock_A.service.js"></script>
    
<script>
    window.fbAsyncInit = function() {
        FB.init({
          appId            : "1627643077294461",
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.11'
        });
    };
    
    (function(){
         if (document.getElementById('facebook-jssdk')) {return;}

         // Get the first script element, which we'll use to find the parent node
         var firstScriptElement = document.getElementsByTagName('script')[0];

         // Create a new script element and set its id
         var facebookJS = document.createElement('script'); 
         facebookJS.id = 'facebook-jssdk';

         // Set the new script's source to the source of the Facebook JS SDK
         facebookJS.src = '//connect.facebook.net/it_IT/all.js';

         // Insert the Facebook JS SDK into the DOM
         firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
     }(document, 'script', 'facebook-jssdk'));
</script>
</head>
<body style="background:url(/background_grey.png); margin:0px" ng-app="stockApp" ng-controller="stockCtrl">
<div style="height:10px"><br></div>
    
    
<div class="container" style="margin:auto; text-align:center; width:65%; background:white; border-radius:8px"  ng-cloak>
    <form name="queryForm">
        <div class="form-group row">
            <h3 align="center">Stock Market Search</h3>
            <div class="col-md-3"><h5>Enter Stock Ticker Symbol:<span style="color:red">*</span></h5></div>
            <div class="col-md-6" align="left"> 

                
                <md-autocomplete
                required
                id = "autocomplete"
                ng-class="{red: queryForm.autocomplete.$touched && queryForm.autocomplete.$invalid}"
                md-input-name="autocomplete"
                md-selected-item="selectedItem"
                md-search-text="searchText"
                md-items="item in querySearch(searchText)"
                md-item-text="item.value"
                md-min-length="0"
                placeholder="eg. AAPL">
                <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                </md-autocomplete>
                
                
                <div ng-messages="queryForm.autocomplete.$invalid" ng-if="queryForm.autocomplete.$touched">
                    <span style="font-size:14px; margin-left:0" ng-show="queryForm.autocomplete.$touched && queryForm.autocomplete.$invalid">Please enter a stock ticker symbol.</span>
                </div>
            </div>
            
            
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" name="search" ng-click="submitQuery(searchText)" ng-disabled="queryForm.autocomplete.$invalid"><span class="glyphicon glyphicon-search"></span>Get Quote</button>
                <button type="button" class="btn btn-default" name="clear" ng-click="clear()"><span class="glyphicon glyphicon-refresh"></span>Clear</button>
            </div>
      </div>
    </form>
</div>
        
    
<div class="container" style="margin:auto; margin-top:15px; width:65%; height:1px; background:white; border-radius:8px"></div>
    
    
<div class="container" style="margin:auto; margin-top:15px; text-align:center; width:65%; background:white; border-radius:8px" ng-cloak>
    <div class="animate-switchRight" ng-hide="panelSwitch">
    <div class="panel panel-default">
        <div class="panel-heading row" style="margin:0;padding-bottom: 0">
            <span class="pull-left"><h4 style="margin-top:0px">Favorite List</h4></span>
            <span class="pull-right">
            <span class="hidden-xs">Automatic Refersh: </span>
            <input id="autoRefresh" type="checkbox" data-toggle="toggle" style="margin: 0px">
            <button type="button" class="btn btn-default" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
            <button ng-click="panelSwitch=true" type="button" class="btn btn-default" ng-disabled="!currentStock['symbol']"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </span>
        </div>
        
        
    <div class="panel-body row">
        <div class="col-md-2">
            <label for="sortBy"><h4>Sort by</h4></label>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <select name="sortBy" id="sortBy" class="form-control" ng-options="option.name for option in sortBy.options track by option.id" ng-model="sortBy.model"></select>
            </div>
        </div>
        <div class="col-md-2">
            <label for="order"><h4>Order</h4></label>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <select name="order" id="order" class="form-control" ng-options="option.name for option in order.options track by option.id" ng-model="order.model" ng-disabled="sortBy.model.id==0"></select>
            </div>
        </div>
    </div>
        
        
    <div class="container" style="width:100%; padding:30px">
        <table class="table table-striped" style="table-layout:fixed; width:100%">
            <tbody>
                <tr style="font-weight: bold">
                    <td class="col-md-2">Symbol</td>
                    <td class="col-md-2">Stock price</td>
                    <td class="col-md-4">Change (Change Percent)</td>
                    <td class="col-md-3">Volume</td>
                    <td class="col-md-1"></td>
                </tr>
                <tr ng-repeat="x in favoriteList | orderBy: sortBy.model.type :order.model.reverse">
                    <td class="col-md-2"><a href="#" ng-click="submitQuery(x.symbol)">{{ x.symbol }}</a></td>
                    <td class="col-md-2">{{ x.price }}</td>
                    <td class="col-md-4"><font color={{x.color}}>{{ x.change }} ({{ x.changePercent }}%)</font><img ng-src={{x.arrow}} height="17" width="17" /></td>
                    <td class="col-md-3">{{ x.volume | number:0 }}</td>
                    <td class="col-md-1">
                        <button ng-click="removeFavorite(x.symbol)" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        
        
    </div>
    </div>
        
    
    <div class="animate-switchLeft" ng-show="panelSwitch">
    <div class="panel panel-default">
        
        
        <div class="panel-heading row" style="margin:0;padding-bottom: 0">
            <span class="pull-left">
              <button type="button" ng-click="switchFavorite()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
            </span>
            <h4 style="text-align:center">Stock Details</h4>
        </div>
        
        
        <div class="panel-body">
            
            <ul class="nav nav-pills">
                <li ng-class="{'active':activePil=='cur'}"><a ng-click="showCurrent()"><span class="glyphicon glyphicon-dashboard"></span> Current Stock</a></li>
                <li ng-class="{'active':activePil=='his'}"><a ng-click="showHistory()"><span class="glyphicon glyphicon-stats"></span> Historical Charts</a></li>
                <li ng-class="{'active':activePil=='new'}"><a ng-click="showNews()"><span class="glyphicon glyphicon-link"></span> News Feeds</a></li>
            </ul>
                
            <hr>
            
            <div class="row" ng-show="switchCurrent">
            <div class="col-md-6">      
                
                
                <div class="container" style="width:100%">
                <span class="pull-left" style="font-weight: bold">Stock Details
                </span>
                <span class="pull-right">
                    <button type="button" class="btn btn-default" ng-disabled="!showTableData" ng-click="addFavorite()"><span class="glyphicon glyphicon-star-empty" id="star"></span></button>
<!--                    <button type="button" class="btn btn-default" ng-disabled="!showGraphData||!showTableData" ng-click="shareFacebook()"><span><img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="20" width="20" /></span></button>-->
                </span>
                </div>

                
                <div style="height:35px"><br></div>
                
                
                <table class="table table-striped" style="text-align:left" ng-show="showTableData">
                    <tbody>
                        <tr>
                            <td style="font-weight:bold">Stock Ticker Symbol</td>
                            <td>{{ currentStock["symbol"] }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Last Price</td>
                            <td>{{ currentStock["lastPrice"] }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Change(Change Percent)</td>
                            <td>{{ currentStock["change"] }}<img ng-src={{currentStock["arrow"]}} height="17" width="17" /></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Timestamp</td>
                            <td>{{ currentStock["timestamp"] }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Open</td>
                            <td>{{ currentStock["open"] }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Previous Close</td>
                            <td>{{ currentStock["preClose"] }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Day's Range</td>
                            <td>{{ currentStock["daysRange"] }}</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Volume</td>
                            <td>{{ currentStock["volume"] }}</td>
                        </tr>
                    </tbody>
                </table>

        
                <div style="height:15px"><br></div>

                <div class="progress" style="margin-top:30px" ng-show="showTableProgress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                </div>
                
                <div class="alert alert-danger" style="text-align:left" ng-show="showTableError">Error! Failed to get current stock data.</div>
            </div>
                
                
            <div class="col-md-6">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active':activeTab=='Price'}" ng-init="active='Price'"><a ng-click="priceChart()">Price</a></li>
                    <li ng-class="{'active':activeTab=='SMA'}"><a ng-click="switchChart('SMA')">SMA</a></li>
                    <li ng-class="{'active':activeTab=='EMA'}"><a ng-click="switchChart('EMA')">EMA</a></li>
                    <li ng-class="{'active':activeTab=='STOCH'}"><a ng-click="switchChart('STOCH')">STOCH</a></li>
                    <li ng-class="{'active':activeTab=='RSI'}"><a ng-click="switchChart('RSI')">RSI</a></li>
                    <li ng-class="{'active':activeTab=='ADX'}"><a ng-click="switchChart('ADX')">ADX</a></li>
                    <li ng-class="{'active':activeTab=='CCI'}"><a ng-click="switchChart('CCI')">CCI</a></li>
                    <li ng-class="{'active':activeTab=='BBANDS'}"><a ng-click="switchChart('BBANDS')">BBANDS</a></li>
                    <li ng-class="{'active':activeTab=='MACD'}"><a ng-click="switchChart('MACD')">MACD</a></li>
                </ul>
                
                <div id="curChartContainer" ng-show="showGraphData&&showTableData"></div>
                
                <div class="progress" style="margin-top:30px" ng-show="showGraphProgress||showTableProgress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                </div>
                
                <div class="alert alert-danger" style="text-align:left" ng-show="showGraphError">Error! Failed to get current {{graphError}} data.</div>
            </div>
            </div>
            
            
            <div ng-show="switchHistory">
                
                <div id="hisContainer" style="width:100%" ng-show="showHistoryData"></div>
                
            <div class="progress" style="margin-top:30px" ng-show="showHistoryProgress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
            </div>
                
            <div class="alert alert-danger" style="text-align:left" ng-show="showHistoryError">Error! Failed to get historical charts data.</div>
            </div>
            
            
            <div ng-show="switchNews">
                
              <table width="100%" ng-show="showNewsData">
                <tbody>
                  <tr ng-repeat="x in newsData" style="text-align:left">
                    <td>
                      <div class="well well-sm">
                        <a target='_blank' href={{x.link}}><h4>{{ x.title }}</h4></a>
                        <h5>Author: {{x.author}}</h5>
                        <h5>Date: {{x.pubDate}}</h5>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            <div class="progress" style="margin-top:30px" ng-show="showNewsProgress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
            </div>
                
            <div class="alert alert-danger" ng-show="showNewsError">Error! Failed to get news feed data.</div>
            </div>
        </div>
    </div>
    </div>
</div>
<noscript>
</body>
</html> 